<!DOCTYPE html>
<html lang="ko">
<head>
    <%- include ('../partials/head') %>
    <link
    rel="stylesheet"
    href="public/css/allpost.css"/>
</head>

<body>
    <%- include ('../partials/nav') %>
    
    <main class="back_board"> 
        <header class="head_1">
            <div class="head_2">
                <h1>#모든 사진</h1>
            </div>
        </header>
        <article class="top_board">
            <div class="imageview_row_1">
                <div class=imageview_item></div>
            </div>
        </article>
        <table class="bottom-board">
            <tr></tr>
        </table>
    </main>
    
    <%- include ('../partials/footer') %>
    
    <%- include ('../partials/js') %>
</body>
</html>