<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include ('../partials/nav')%>

    <style type="text/css">
      .jumbotron {
        background-image: url("public/image/worldimage.jpg");
        background-size: cover;
        text-shadow: black 0.2em 0.2em 0.2em;
        color: white;
      }
    </style>
    
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">WORD PHOTO</h1>
        <p class="text-center">
          월드 포토는 여러분들의 여행사진으로 만들어집니다.
        </p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="hotphoto.html" role="button"
            >이동하기</a
          >
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>이 페이지의 특징</h4>
          <p>
            당신의 여행사진을 다른 사람들과 공유하고, 여행지에 대한 정보를 얻을
            수 있습니다.
          </p>
          <p>
            <a class="btn btn-outline-primary" data-toggle="modal" data-target="#modals"
              >자세히 알아보기</a
            >
          </p>
        </div>
        <div class="col-md-4">
          <h4>전 세계 여행 Vlog</h4>
          <p>세계의 Vlog 영상을 통해 간접적인 경험이 가능하게 합니다.</p>
          <p>
            <a class="btn btn-outline-primary" href="#">시청하러 가기</a></p>
        </div>
        <div class="col-md-4">
          <h4>여행가 확인</h4>
          <p>자신 및 다른 여행가들의 여행정보를 확인하세요.</p>
          <p><a class="btn btn-outline-primary" href="traveler.html">여행가 확인</a></p>
        </div>
      </div>
      <hr />
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon-pencil"></span> &nbsp;&nbsp;여기는
            페널입니다.
          </h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="photo.html?photoName=America"
                ><img
                  class="media-object"
                  src="../../public/image/america.jfif"
                  alt="북미 사진"
              /></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="photo.html?photoName=America">북미 여행사진 확인</a
                >&nbsp;<span class="badge">New</span>
              </h4>
              북미 여행지의 모습이 궁금하신가요? 트렌디한 북미의 모습을
              확인해보세요.
            </div>
          </div>
          <hr />
          <div class="media">
            <div class="media-left">
              <a href="photo.html?photoName=Asia"
                ><img
                  class="media-object"
                  src="../../public/image/asia.jfif"
                  alt="아시아 사진"
              /></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="photo.html?photoName=Asia">아시아 여행사진 확인</a
                >&nbsp;<span class="badge">New</span>
              </h4>
              아시아 여행지의 모습이 궁금하신가요? 아시아의 전통적인 문화를
              느껴보세요.
            </div>
          </div>
          <hr />
          <div class="media">
            <div class="media-left">
              <a href="photo.html?photoName=Europe"
                ><img
                  class="media-object"
                  src="public/image/europe.jfif"
                  alt="유럽 사진"
              /></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="photo.html?photoName=Europe">유럽 여행사진 확인</a
                >&nbsp;<span class="badge">New</span>
              </h4>
              유럽 여행지의 모습이 궁금하신가요? 중세시대의 풍경이 그대로
              남아있는 역사적 건물을 확인해보세요.
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ('../partials/footer')%> <%- include ('../partials/js') %>
  </body>
</html>
