<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head')%>
  </head>
  <body>
    <%- include ('../partials/nav')%>
    
    <style type="text/css">
      .jumbotron {
        background-image: url("public/image/worldimage.jpg");
        background-size: cover;
        text-shadow: black 0.2em 0.2em 0.2em;
        color: white;
      }
    </style>
    
    <div class="container">
      <div class="jumbotron">
        <h1 class="text-center">Pro - Folio</h1>
        <p class="text-center">
          portfolio 저장소
        </p>
        <p class="text-center">
          <a class="btn btn-primary btn-lg" href="hotphoto.html" role="button"
            >이동하기</a
          >
        </p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>이 페이지의 특징</h4>
          <p>
            당신의 전문적인 활동을 저장해 두고 기업의 스카웃과 지원을 할 수 있도록 지원합니다.
          </p>
          <p>
            <a class="btn btn-outline-primary" data-toggle="modal" data-target="#modals"
              >자세히 알아보기</a
            >
          </p>
        </div>
        <div class="col-md-4">
          <h4>인기 있는 folio</h4>
          <p>각 분야 별로 인기있는 portfolio를 찾아 보세요</p>
          <p>
            <a class="btn btn-outline-primary" href="#">확인하러 가기</a></p>
        </div>
        <div class="col-md-4">
          <h4>기업가 확인</h4>
          <p>가입되어 있고 활동 중인 기업가의 사람들을 확인해 보세요</p>
          <p><a class="btn btn-outline-primary" href="traveler.html">여행가 확인</a></p>
        </div>
      </div>
      <hr />
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="glyphicon-pencil"></span> &nbsp;&nbsp;여기는
            페널입니다.
          </h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#"
                ><img
                  class="media-object"
                  src="../../public/image/america.jfif"
                  alt="북미 사진"
              /></a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="#">건축 디자인 확인</a
                >&nbsp;<span class="badge">New</span>
              </h4>
              건축 디자인 전문가의 포트폴리오를 확인해 보세요
            </div>
          </div>
          <hr />
          
          <hr />
          
        </div>
      </div>
    </div>
    <%- include ('../partials/footer')%> <%- include ('../partials/js') %>
  </body>
</html>
